
.venv/
tmp/

.deps/

autom4te.cache/

bin/

lib/

src/

share/


aclocal.m4

compile

config.guess

config.log

config.status

config.sub

configure

depcomp

INSTALL

install-sh

*.lo

*.o

libtool

ltmain.sh

Makefile

Makefile.in

missing
